
 :root{
    background-color:#7BBAD5;
 }


 #logo{
    background-color: #ced6d9;
    width: 30;
    height: 60;
 }

 .logoimm{
    width: 200 px;
 }

 #paginaselezionata{
    color: #1171df;
 }

 #contenitore{
    border-top-style: solid;
    border-top-width: 200px;
             
        }

 h1{
    text-align: center;
    color: #1171df;
    background-color: rgb(131, 135, 190);
    margin-top: 20 px;
}

.intro {
    color:rgb(157, 43, 148);
    font-style: italic;
    text-align: center;
    font-size:x-large;
}



table {
    background-color: #ccc;
}
tr {
    background-color: #ebdfdf;
}





h2{
    color: aqua;
    font: size 100px;
    font-weight: 300;
   }
   h3{
    color: blue;
   position: relative;
   width: 200px;
   }

#corsi{
    color:#1171df ;
    font-size: 10px;
}

.sala{
    width: 200px;
}

.piscina{
    width: 200px;
}

#registrazione{
    top: 200 px;
    font-size: medium;    
    white-space: nowrap;
}

